@mixin bg-transition($color, $delay: 0s) {
  transition: background-color 0.3s ease-in $delay;

  &:hover {
    background-color: $color;
  }
}

@mixin btn($color: white, $width: 1em, $height:0.5em) {
  background-color: $color;
  padding: $height $width;
  border-radius: 8px;
  color: white;
  border-style: none;
  align-self: self-start;
}
