@use "sass:color";

$base: 0.5em;

$primary: #7289da;
$bg-color: color.scale(#1e2124, $lightness: -20%);
$darker-bg: color.scale(#1e2124, $lightness: -22%);
$card-color: color.scale(#36393e, $lightness: -10%);
