@use "sass:color";

$base: 0.5em;

$primary-500: #4967d0;
$bg-color: color.scale(#1e2124, $lightness: -20%);
$bg-color-500: color.scale(#1e2124, $lightness: -22%);
$bg-color-300: #515961;
$bg-color-400: #23262a;
$card-color: color.scale(#36393e, $lightness: -10%);
$text-color: #f0f0f0;
