@use "variables" as vars;

.chat-area {
  grid-row: 1/ -1;
  grid-column: 2/ -1;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 1fr 4fr;
  background-color: vars.$bg-color-400;
  color: white;
  padding: vars.$base * 2;

  border-radius: 23px;

  h1 {
    font-size: 1.6em;
    margin-bottom: vars.$base;
  }

  & > div {
    grid-column: 1 / 2;
  }
}
