@use "variables" as vars;

.chat-area {
  grid-row: 1/ -1;
  grid-column: 2/ -1;
  background-color: vars.$bg-color-400;
  color: white;
  padding: vars.$base * 2 vars.$base * 2;

  border-radius: 23px;

  h1 {
    font-size: 2.5em;
  }

  .search-input {
    margin-top: vars.$base;
    display: flex;
    width: max-content;
    padding: vars.$base vars.$base;
    padding-right: vars.$base / 2;
    border-radius: 9px;

    img {
      filter: invert(95%) sepia(19%) saturate(12%) hue-rotate(153deg)
        brightness(99%) contrast(94%);
      margin: auto 0;
      margin-right: vars.$base;
    }
    *:not(img),
    & {
      background-color: vars.$bg-color-500;
    }
    input {
      font-size: 1.2em;
      color: vars.$text-color;
      max-width: fit-content;
      border-style: none;
      padding: vars.$base;
      height: 4ch;
    }
  }
}
