@use "variables" as vars;
@use "sass:color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body,
body > #root {
  height: 100dvh;
  background-color: vars.$bg-color;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
label {
  font: inherit;
}

form {
  all: unset;
}

.btn-submit {
  margin: vars.$base * 2 0;
  background-color: color.scale(vars.$primary-500, $lightness: -40%);
  color: white;
  font-size: inherit;
  border-style: none;
  border-radius: 7px;
  padding: vars.$base vars.$base * 2;

  transition: background-color 0.3s ease-out 50ms;
  &:hover {
    background-color: vars.$primary-500;
  }
}

.error {
  margin-top: 0.1em;
  font-size: 0.85em;
  font-weight: bold;
  color: #d22b2b;
}

#root {
  display: grid;
  grid-template-columns: minmax(min-content, max-content) 1fr;
  grid-template-rows: 100%;
}

.search-input {
  margin-top: vars.$base;
  display: flex;
  padding: vars.$base vars.$base;
  padding-right: vars.$base * 0.5;
  border-radius: 9px;

  img {
    filter: invert(95%) sepia(19%) saturate(12%) hue-rotate(153deg)
      brightness(99%) contrast(94%);
    margin: auto 0;
    margin-right: vars.$base;
  }
  *:not(img),
  & {
    background-color: vars.$bg-color-500;
  }
  input {
    font-size: 1.2em;
    width: 100%;
    color: vars.$text-color;
    border-style: none;
    padding: vars.$base;
    height: 4ch;
  }
}
