@use "variables";
@use "sass:color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
body > #root {
  height: 100%;
  min-height: 100dvh;
  background-color: variables.$bg-color;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
label {
  font: inherit;
}

form {
  all: unset;
}

.btn-submit {
  // align-self: center;
  margin: variables.$base * 2 0;
  background-color: color.scale(variables.$primary-500, $lightness: -40%);
  color: white;
  font-size: inherit;
  border-style: none;
  border-radius: 7px;
  padding: variables.$base variables.$base * 2;

  transition: background-color 0.3s ease-out 50ms;
  &:hover {
    background-color: variables.$primary-500;
  }
}

.error {
  margin-top: 0.1em;
  font-size: 0.85em;
  font-weight: bold;
  color: #d22b2b;
}

#root {
  display: grid;
  grid-template-columns: 6% 94%;
  grid-template-rows: 100%;
}


