@use "variables" as vars;
@use "mixins" as mx;

.profile-section {
  margin: auto auto;
  transform: translateY(-10%);
  width: clamp(20%, 500px, 45%);
  border-radius: 12px;
  color: white;
  background-color: vars.$bg-color-400;
  display: flex;
  flex-direction: column;
  height: fit-content;
  position: relative;

  & img {
    position: absolute;
    margin-inline: auto;
    margin-bottom: 1em;
    top: -105%;
    transform: translate(35%);
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.info-row {
  margin-bottom: vars.$base * 2;
  width: 100%;
  display: flex;

  :nth-child(2) {
    margin-left: auto;
    font-weight: lighter;
    color: #adb6bd;
  }
}

.btn-edit {
  @include mx.btn(vars.$primary-500, 2em);
  @include mx.bg-transition(vars.$primary-400);
  font-size: 1.5em;
  align-self: center;
  margin-bottom: 1em;
}
