@use "variables" as vars;

.profile-section {
  margin: auto auto;
  transform: translateY(-10%);
  width: clamp(20%, 500px, 45%);
  border-radius: 12px;
  color: white;
  background-color: vars.$bg-color-400;
  display: flex;
  flex-direction: column;
  height: fit-content;

  & img {
    margin-inline: auto;
    margin-bottom: 1em;
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3em;
}

.info-row {
  margin-bottom: vars.$base * 2;
  width: 100%;
  display: flex;

  :nth-child(2) {
    margin-left: auto;
    font-weight: lighter;
    color: #ADB6BD;
  }
}
